<template>
  <div>
    <div class="center">
      <FormulateForm class="pt" v-model="formValues" @submit="saveUser">
        <FormulateInput name="firstname" label="First Name" />
        <FormulateInput name="lastname" label="Last Name" />
        <FormulateInput name="email" label="Email" />
        <FormulateInput name="username" label="Username" />
        <FormulateInput type="submit" label="Submit" />
      </FormulateForm>
    </div>

    <div class="pt center" v-for="user in users" :key="user.id">
      Name {{user.firstname}} {{user.lastname}}
      <br />
      Email: {{user.email}}
      <br />
      Username: {{user.username}}
      <br />
      <button @click="deleteUser(user.id)">Delete {{user.username}}</button>
    </div>
  </div>
</template>

<script>
import { createClient } from "@supabase/supabase-js";
const supabaseUrl = "https://aGEaTQkUqTaSVtqcyguP.supabase.co";
const supabaseKey = process.env.VUE_APP_SUPABASE_KEY;
const supabase = createClient(supabaseUrl, supabaseKey);

export default {
  name: "App",
  data: () => ({
    formValues: {},
    users: []
  }),
  mounted() {
    supabase
      .from("users")
      .on("INSERT", payload => {
        this.users.push(payload.new);
      })
      .subscribe();

    supabase
      .from("users")
      .on("DELETE", payload => {
        const id = payload.old.id;
        const index = this.users.map(x => x.id).indexOf(id);
        this.users.splice(index, 1)
      })
      .subscribe();
  },
  async created() {
    let { body } = await supabase.from("users").select("*");
    this.users = body;
  },
  methods: {
    async saveUser() {
      await supabase.from("users").insert([this.formValues]);
    },
    async deleteUser(id) {
      await supabase
        .from("users")
        .match({ id: id })
        .delete();
    }
  }
};
</script>

<style>
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pt {
  padding-top: 10px;
}
</style>
